*,
*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}

ul {
  list-style: none;
}
body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  background-color: #1c2225;
}

/* Початок хедера */
.container {
  width: 375px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.main-nav {
  background-color: #1c2225;
  padding-top: 20px;
  margin-bottom: 84px;
  width: 375px;
}
.main-logo {
  margin-right: 87px;
}

.heder-social-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 12px;
}

.main-social-icon {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  gap: 8px;
  background: rgba(252, 249, 249, 0.1);

  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 8px;
  width: 44px;
  height: 44px;
}
.hed-icon-social {
  fill: #fcf9f9;
}
.main-nav {
  display: flex;
}
.heder-social-list {
  display: flex;
  margin-right: 12px;
}
.icon-heder-menu {
  fill: #ecd979;
}

.heder-button-menu {
  background-color: transparent;
  border: none;
}

/* кінець хедера */

/* Секція Hero */
.hero {
  max-width: 375px;
}
.hero-title {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 44px;
  line-height: 109%;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  max-width: 375px;
  margin-bottom: 20px;
}
.hero-ukrain {
  color: #ecd979;
}
.hero-button {
  font-weight: 600;
  font-size: 14px;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #fcf9f9;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 36px;
  width: 154px;
  height: 49px;
  margin: 0 auto;
  margin-bottom: 40px;
}

.hero-foto {
  border-radius: 4px;
  width: 335px;
  height: 545px;
  margin: 0 auto 80px;
}
/* Кінець секції Hero */

/* Початок секції About Us */
.about-us {
  max-width: 375px;
}
.title-about-us {
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.about-us-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.04em;
  color: rgba(252, 249, 249, 0.4);
  margin-bottom: 50px;
}
.about-foto {
  border-radius: 4px;
  margin-bottom: 80px;
}

/* кінець секції About Us */

/* Початок секції Our colection */

.Our-collection-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}
.our-colection-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;

}

.our-colection-item {
  padding-bottom: 20px;
}

.our-colection-img {
  border-radius: 4px;
  width: 335px;
  height: 400px;
  margin-bottom: 18px;
}
.our-colection-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fcf9f9;
  margin-bottom: 8px;
}
.our-colection-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.05em;
  color: rgba(252, 249, 249, 0.4);
}

/* кінець секції Our colection */

/* Почакок секції Our order */

.fon {width: 375px;
  height: 500px;
  background-image: url(../imeges/icon_mobile/your_order_fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}
.our-order {
  margin-bottom: 80px;
}
.our-order-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 137%;
  letter-spacing: -0.03em;
  color: #fcf9f9;
  margin-bottom: 40px;
}
.order-title {
  
  color: #ecd979;
}
.user-name-form {
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  width: 335px;
  height: 47px;
  margin-bottom: 20px;
  color: #fff;
}
.user-email-form {
  background-color: transparent;
  border: 1px solid rgba(252, 249, 249, 0.1);
  border-radius: 15px;
  padding: 14px 16px;
  width: 335px;
  height: 47px;
  margin-bottom: 20px;
  color: #fff;
}
.user-text-coment {
  border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 8px;
padding: 14px 16px;
width: 335px;
height: 196px;
background-color: transparent;
resize: none;
color: #fff;
margin-bottom: 40px;
}
.button-form {
  border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 15px;
padding: 14px 36px;
width: 145px;
height: 49px;
background-color: transparent;
font-weight: 600;
font-size: 14px;
letter-spacing: -0.04em;
text-transform: uppercase;
color: #fcf9f9;
display: flex;
margin-left: auto;
margin-right: auto;
}

/* Кінець Our Order */

/* Початок Testimonials	 */

.testimonials-title {
  font-weight: 500;
font-size: 32px;
line-height: 137%;
letter-spacing: -0.03em;
color: #fcf9f9;
margin-bottom: 40px;
}
.user-coment {
  position: relative;
  border: 1px solid rgba(252, 249, 249, 0.1);
border-radius: 4px;
padding: 0px 18px 18px 18px;
width: 335px;
height: 243px;
}
.user-foto {
  position: absolute;
  top: -15%;
}